<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Pulse</title>
  <meta name="description" content="...">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- CSS -->
  <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/css/owl.carousel.css" rel="stylesheet">
  <link href="assets/css/animate.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="assets/css/marcus.css">

  


  <!-- Modernizr -->
  <script src="assets/js/modernizr-2.6.2.min.js"></script>

  <!-- Google font --> hgt23fc   <link href='http://fonts.googleapis.com/css?f
amily=Titillium+Web:200,300,400,600,700,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900'
rel='stylesheet' type='text/css'>

  <script>
    var mainColor = 'blue';
  </script>
</head>
<body>
  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div id="wrapper">  
    <section id="blog" class="subpage">
      <!-- Header -->
    
     
     <!-- Header -->
     <header id="header">
      <!-- Static navbar -->
      <div class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle visible-xs" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <img id="nav-logo" src="./img/fr-03-white.png">
          </div>
          <nav class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="homebuttons"><a href="#home" class="j-scroll" title="Home">Home</a></li>
              <li class="homebuttons"><a href="#features" class="j-scroll" title="Features">Work</a></li>     
              <li class="homebuttons"><a href="#contact" class="j-scroll" title="Contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
     </header>

      <div class="container">

        <!-- Content -->
        <div class="row articles">

          <!-- Article -->
          <article class="col-xs-6 article wow animated fadeInLeft">
            <a href="blog-detail.html" title="#" class="c borderedHover">
              <div class="wrap">
                <div class="info">
                  <div class="info-wrap">
                    <i class="fa fa-plus"></i>
                    <div class="more">Read more</div>
                  </div>
                </div>
                <img src="tmp/600x350.jpg" alt="#" width="600" height="350" class="img-responsive">
              </div>
            </a>
            <div class="row">
              <div class="col-lg-2 visible-lg asideArticleInfo">
                <div class="date">
                  <div class="day">22</div>
                  <div class="month">nov 2014</div>
                </div>
                <div class="comments">
                  <i class="fa fa-comments"></i> 25
                </div>
              </div>
              <div class="col-lg-10">
                <h3><a href="blog-detail.html" title="#">Lorem ipsum dolor sit amet consectetur adipis</a></h3>
                <div class="articleInfo clearfix">
                  <div class="i">Post by: <strong>John Doe</strong></div>
                  <div class="i">Categories: <a href="blog-listing.html"><strong>country</strong></a>, <a href="blog-listing.html"><strong>heaven</strong></a></div>
                </div>
                <p>Aenean consequat non augue sit amet luctus. Etiam fringilla ex ac tortor congue, ut interdum ex varius. Aliquam in pulvinar turpis. Aliquam ut maximus ante, nec tristique nisi. Nulla luctus, mi ac fringilla pretium, ex risus pulvinar lectus. <a href="blog-detail.html" title="#">Read more...</a></p>
              </div>
            </div>
          </article>

          <!-- Article  -->
          <article class="col-xs-6 article wow animated fadeInRight">
            <a href="blog-detail.html" title="#" class="c borderedHover">
              <div class="wrap">
                <div class="info">
                  <div class="info-wrap">
                    <i class="fa fa-plus"></i>
                    <div class="more">Read more</div>
                  </div>
                </div>
                <img src="tmp/600x350-2.jpg" alt="#" width="600" height="350" class="img-responsive">
              </div>
            </a>
            <div class="row">
              <div class="col-lg-2 visible-lg asideArticleInfo">
                <div class="date">
                  <div class="day">21</div>
                  <div class="month">nov 2014</div>
                </div>
                <div class="comments">
                  <i class="fa fa-comments"></i> 76
                </div>
              </div>
              <div class="col-lg-10">
                <h3><a href="blog-detail.html" title="#">Etiam nisi purus tempor a interdum velum est</a></h3>
                <div class="articleInfo clearfix">
                  <div class="i">Post by: <strong>John Doe</strong></div>
                  <div class="i">Categories: <a href="blog-listing.html"><strong>country</strong></a>, <a href="blog-listing.html"><strong>heaven</strong></a></div>
                </div>
                <p>Suspendisse ac odio felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus scelerisque quis turpis et tempor. Duis ipsum lorem, tristique sed justo sit amet, auctor venenatis nisi. <a href="blog-detail.html" title="#">Read more...</a></p>
              </div>
            </div>
          </article>

          <!-- Article  -->
          <article class="col-xs-6 article wow animated fadeInLeft">
            <a href="blog-detail.html" title="#" class="c borderedHover">
              <div class="wrap">
                <div class="info">
                  <div class="info-wrap">
                    <i class="fa fa-plus"></i>
                    <div class="more">Read more</div>
                  </div>
                </div>
                <img src="tmp/600x350-3.jpg" alt="#" width="600" height="350" class="img-responsive">
              </div>
            </a>
            <div class="row">
              <div class="col-lg-2 visible-lg asideArticleInfo">
                <div class="date">
                  <div class="day">19</div>
                  <div class="month">nov 2014</div>
                </div>
                <div class="comments">
                  <i class="fa fa-comments"></i> 119
                </div>
              </div>
              <div class="col-lg-10">
                <h3><a href="blog-detail.html" title="#">Etiam nisi purus tempor a interdum velum est</a></h3>
                <div class="articleInfo clearfix">
                  <div class="i">Post by: <strong>John Doe</strong></div>
                  <div class="i">Categories: <a href="blog-listing.html"><strong>country</strong></a>, <a href="blog-listing.html"><strong>heaven</strong></a></div>
                </div>
                <p>Suspendisse ac odio felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus scelerisque quis turpis et tempor. Duis ipsum lorem, tristique sed justo sit amet, auctor venenatis nisi. <a href="blog-detail.html" title="#">Read more...</a></p>
              </div>
            </div>
          </article>

          <!-- Article  -->
          <article class="col-xs-6 article wow animated fadeInRight">
            <a href="blog-detail.html" title="#" class="c borderedHover">
              <div class="wrap">
                <div class="info">
                  <div class="info-wrap">
                    <i class="fa fa-plus"></i>
                    <div class="more">Read more</div>
                  </div>
                </div>
                <img src="tmp/600x350-4.jpg" alt="#" width="600" height="350" class="img-responsive">
              </div>
            </a>
            <div class="row">
              <div class="col-lg-2 visible-lg asideArticleInfo">
                <div class="date">
                  <div class="day">15</div>
                  <div class="month">nov 2014</div>
                </div>
                <div class="comments">
                  <i class="fa fa-comments"></i> 3
                </div>
              </div>
              <div class="col-lg-10">
                <h3><a href="blog-detail.html" title="#">Etiam nisi purus tempor a interdum velum est</a></h3>
                <div class="articleInfo clearfix">
                  <div class="i">Post by: <strong>John Doe</strong></div>
                  <div class="i">Categories: <a href="blog-listing.html"><strong>country</strong></a>, <a href="blog-listing.html"><strong>heaven</strong></a></div>
                </div>
                <p>Suspendisse ac odio felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus scelerisque quis turpis et tempor. Duis ipsum lorem, tristique sed justo sit amet, auctor venenatis nisi. <a href="blog-detail.html" title="#">Read more...</a></p>
              </div>
            </div>
          </article>

          <!-- Article  -->
          <article class="col-xs-6 article wow animated fadeInLeft">
            <a href="blog-detail.html" title="#" class="c borderedHover">
              <div class="wrap">
                <div class="info">
                  <div class="info-wrap">
                    <i class="fa fa-plus"></i>
                    <div class="more">Read more</div>
                  </div>
                </div>
                <img src="tmp/600x350-5.jpg" alt="#" width="600" height="350" class="img-responsive">
              </div>
            </a>
            <div class="row">
              <div class="col-lg-2 visible-lg asideArticleInfo">
                <div class="date">
                  <div class="day">13</div>
                  <div class="month">nov 2014</div>
                </div>
                <div class="comments">
                  <i class="fa fa-comments"></i> 45
                </div>
              </div>
              <div class="col-lg-10">
                <h3><a href="blog-detail.html" title="#">Etiam nisi purus tempor a interdum velum est</a></h3>
                <div class="articleInfo clearfix">
                  <div class="i">Post by: <strong>John Doe</strong></div>
                  <div class="i">Categories: <a href="blog-listing.html"><strong>country</strong></a>, <a href="blog-listing.html"><strong>heaven</strong></a></div>
                </div>
                <p>Suspendisse ac odio felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus scelerisque quis turpis et tempor. Duis ipsum lorem, tristique sed justo sit amet, auctor venenatis nisi. <a href="blog-detail.html" title="#">Read more...</a></p>
              </div>
            </div>
          </article>

          <!-- Article  -->
          <article class="col-xs-6 article wow animated fadeInRight">
            <a href="blog-detail.html" title="#" class="c borderedHover">
              <div class="wrap">
                <div class="info">
                  <div class="info-wrap">
                    <i class="fa fa-plus"></i>
                    <div class="more">Read more</div>
                  </div>
                </div>
                <img src="tmp/600x350-6.jpg" alt="#" width="600" height="350" class="img-responsive">
              </div>
            </a>
            <div class="row">
              <div class="col-lg-2 visible-lg asideArticleInfo">
                <div class="date">
                  <div class="day">05</div>
                  <div class="month">nov 2014</div>
                </div>
                <div class="comments">
                  <i class="fa fa-comments"></i> 78
                </div>
              </div>
              <div class="col-lg-10">
                <h3><a href="blog-detail.html" title="#">Etiam nisi purus tempor a interdum velum est</a></h3>
                <div class="articleInfo clearfix">
                  <div class="i">Post by: <strong>John Doe</strong></div>
                  <div class="i">Categories: <a href="blog-listing.html"><strong>country</strong></a>, <a href="blog-listing.html"><strong>heaven</strong></a></div>
                </div>
                <p>Suspendisse ac odio felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus scelerisque quis turpis et tempor. Duis ipsum lorem, tristique sed justo sit amet, auctor venenatis nisi. <a href="blog-detail.html" title="#">Read more...</a></p>
              </div>
            </div>
          </article>

          <!-- Article  -->
          <article class="col-xs-6 article wow animated fadeInLeft">
            <a href="blog-detail.html" title="#" class="c borderedHover">
              <div class="wrap">
                <div class="info">
                  <div class="info-wrap">
                    <i class="fa fa-plus"></i>
                    <div class="more">Read more</div>
                  </div>
                </div>
                <img src="tmp/600x350-7.jpg" alt="#" width="600" height="350" class="img-responsive">
              </div>
            </a>
            <div class="row">
              <div class="col-lg-2 visible-lg asideArticleInfo">
                <div class="date">
                  <div class="day">28</div>
                  <div class="month">oct 2014</div>
                </div>
                <div class="comments">
                  <i class="fa fa-comments"></i> 87
                </div>
              </div>
              <div class="col-lg-10">
                <h3><a href="blog-detail.html" title="#">Etiam nisi purus tempor a interdum velum est</a></h3>
                <div class="articleInfo clearfix">
                  <div class="i">Post by: <strong>John Doe</strong></div>
                  <div class="i">Categories: <a href="blog-listing.html"><strong>country</strong></a>, <a href="blog-listing.html"><strong>heaven</strong></a></div>
                </div>
                <p>Suspendisse ac odio felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus scelerisque quis turpis et tempor. Duis ipsum lorem, tristique sed justo sit amet, auctor venenatis nisi. <a href="blog-detail.html" title="#">Read more...</a></p>
              </div>
            </div>
          </article>

          <!-- Article  -->
          <article class="col-xs-6 article wow animated fadeInRight">
            <a href="blog-detail.html" title="#" class="c borderedHover">
              <div class="wrap">
                <div class="info">
                  <div class="info-wrap">
                    <i class="fa fa-plus"></i>
                    <div class="more">Read more</div>
                  </div>
                </div>
                <img src="tmp/600x350-8.jpg" alt="#" width="600" height="350" class="img-responsive">
              </div>
            </a>
            <div class="row">
              <div class="col-lg-2 visible-lg asideArticleInfo">
                <div class="date">
                  <div class="day">17</div>
                  <div class="month">oct 2014</div>
                </div>
                <div class="comments">
                  <i class="fa fa-comments"></i> 99
                </div>
              </div>
              <div class="col-lg-10">
                <h3><a href="blog-detail.html" title="#">Etiam nisi purus tempor a interdum velum est</a></h3>
                <div class="articleInfo clearfix">
                  <div class="i">Post by: <strong>John Doe</strong></div>
                  <div class="i">Categories: <a href="blog-listing.html"><strong>country</strong></a>, <a href="blog-listing.html"><strong>heaven</strong></a></div>
                </div>
                <p>Suspendisse ac odio felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus scelerisque quis turpis et tempor. Duis ipsum lorem, tristique sed justo sit amet, auctor venenatis nisi. <a href="blog-detail.html" title="#">Read more...</a></p>
              </div>
            </div>
          </article>
        </div>
        
        <!-- Pagination -->
        <nav>
          <ul class="pagination">
            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
          </ul>
        </nav>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact" >
      <div class="container">
        <!-- Header -->
        <header class="font-white">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 wow fadeInDown">
              <h1>Contact us</h1>
              <div class="dotted-break"></div>
              <h2>Keep in touch</h2>
            </div>
          </div>
        </header>

   
  </div>


  <!-- jQuery and Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/js/jquery.easing.1.3.js"></script>
  <script src="assets/js/owl.carousel.min.js"></script>
  <script src="assets/js/parsley.min.js"></script>
  <script src="assets/js/jquery.shuffle.min.js"></script>
  <script src="assets/js/wow.min.js"></script>
  <script src="assets/js/jquery.easypiechart.min.js"></script>
  <script src="assets/js/jquery.countTo.js"></script>
  <script src="assets/js/waypoints.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>

  <!-- Custom JS -->
  <script src="assets/js/portfolio.js"></script>
  <script src="assets/js/script.min.js"></script>

  <!-- Options (demo only) -->
  <script src="assets/js/options.js"></script>
  <link rel="stylesheet" href="assets/css/options.css">

  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-377791-8', 'auto');
      ga('send', 'pageview');
  </script>

  <div class="options hidden-xs">
    <div class="more closed">
      <i class="fa fa-cog"></i>
    </div>
    <div class="homepage">
      <p>Please select homepage:</p>
      <a href="index.html" title="#">Image</a>
      <a href="index-video.html" title="#">Video</a>
      <a href="index-full-image.html" title="#">Fullscreen image</a>
      <a href="index-full-video.html" title="#">Fullscreen video</a>
    </div>

    <div class="colors">
      <p>Please select main color:</p>
      <a href="#" title="#" class="blue"></a>
      <a href="#" title="#" class="red"></a>
      <a href="#" title="#" class="green"></a>
      <a href="#" title="#" class="orange"></a>
      <a href="#" title="#" class="violet"></a>
      <a href="#" title="#" class="mint"></a>
      <a href="#" title="#" class="yellow"></a>
      <a href="#" title="#" class="pink"></a>
    </div>
  </div>

</body>
</html>