@font-face {
font-family: linetoCircularBold;
src: url(/assets/font-awesome/fonts/lineto-circular-bold.ttf);
}

@font-face {
font-family: linetoCircularBook;
src: url(/assets/font-awesome/fonts/lineto-circular-book.ttf);
}

@font-face {
font-family: sanchezRegular;
src: url(/assets/font-awesome/fonts/Sanchez-Regular.ttf);
}

body {
font-family: linetoCircularBold;
} 

a{
  font-family: sanchezRegular;
} 

h1{
  font-family: linetoCircularBook;
}

.logo .wrap {
  border: 1px solid #fff;
  max-height:100%;
  max-width:100%;
  margin:auto;
  display:block;
  background-size: contain;
  background-image: url(../img/forest.png);
  display:none;
}

#nav-logo {
  background-image: url(./forest_noback.png);
  width:50px;
  height: 60px;
  padding-top: 10px;
  margin-left: 30px;
  
}

#home .carousel-inner .item.item-1 {
    background-image: url(../../img/forest-road_small.jpg);
    box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.5);
}
/*
#F4EFE3 - white
#006F41 - green*/

#header .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
}

body{
  background-color: #F4EFE3
}

#header .navbar {
    height: 70px;
    background: #F4EFE3;
    -webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
    border: 0;
}

#header .navbar-collapse {
    background: #F4EFE3;
    padding-left: 15px;
    padding-right: 15px;
}

.homebuttons a {
  color:#006F41 !important;
}

.counter {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(../../img/boil.jpg);
    text-align: center;
    padding: 70px 0;
    z-index: 2;
    position: relative;
    color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.3);

}

.forest-road{
  color:white;
  max-width:75%;
  height:auto;
  filter: invert(100%);
}

#footer{
}

.photo-middle{
 background-repeat:no-repeat;
 -webkit-background-size:cover;
 -moz-background-size:cover;
 -o-background-size:cover;
 background-size:cover;
 background-position:center;
  background-image: url(../../img/fox.png) no-repeat;
}


#home .carousel-inner .item .logo {
    margin-bottom: 35px;
    display: none;
  }
